body{
        background-color:rgb(164, 214, 246);
    }
    .header{
        margin:15px;
        background-color: hotpink;
        color: rgb(7, 7, 70);
        padding:10px;
        text-align: center;
        border:1px solid purple;
        border-radius: 10px;
    }
    .header:hover{
        background-color: mediumblue;
        color: aliceblue;
    }
    .parent{
        border: 2px solid black;
        border-radius: 15px;
        background-image: url('https://images.unsplash.com/photo-1578670812003-60745e2c2ea9?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTV8fGNyZWRpdCUyMGNhcmR8ZW58MHx8MHx8fDA%3D');
        background-size: cover;
        background-position: center;
        margin-left:550px;
        height:200px;
        width:400px;
        padding:10px;
        box-shadow: 0 4px 8px purple;
        color:midnightblue;
    
    }
    .child{
        display:flex;
        justify-content:space-between;
        align-items: center;
        color:magenta;
        gap:10px;
        margin-top: 30px;
    }
    .child:hover{
        transform: scale(1.01);
        color:goldenrod;
    }
    .SummaryCard{
       display:flex;
       justify-content: space-between;
       margin:20px;
       gap:20px;
    }
    .card{
        background-color: rgb(95, 226, 43);
        flex:1;
        padding:20px;
        border:1px solid black;
        border-radius: 15px;
        text-align: center;
        box-shadow: 0 4px 8px gold;
        color:rgb(235, 21, 124);
    }
    .card:hover{
        transform: scale(1.02);
        background-image: url('https://images.unsplash.com/photo-1604594849809-dfedbc827105?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTJ8fG1vbmV5fGVufDB8fDB8fHww');
        background-position: center;
        background-size: cover;
        background-attachment: fixed;
        box-shadow: 0 4px 8px red;
    
    }
    .card h3{
        font-size: 20px;
        margin-bottom: 10px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    .card p{
        font-weight: bold;
        font-family: 'Times New Roman', Times, serif;
        font-size: 24px;
    }
    .expense{
        border:2px solid black;
        border-radius: 15px;
        background-color: rgb(181, 32, 82);
    }
    .categories{
        border:1px solid black;
        color: brown;
        background-color: aqua;
        border-radius: 15px;
        height:50px;
        display:flex;
        justify-content:space-between;
        margin: 5px;
    }
    .categories:hover{
        background-color: rgb(60, 100, 231);
        transform: scale(1.01);
        box-shadow: 0 4px 8px yellow;
    }
    .categories p{
        font-size: 24px;
        font-style: oblique;
        text-align:right;
        font-weight: bold;
        padding:10px;
        display:flex;
        justify-content: end;
        margin-top: 5px;
    }
    .categories h3{
        font-size: 15px;
        font-family: Arial, Helvetica, sans-serif;
        text-align: left;
        padding:10px;
        margin-top: 4px;
    }
    .recent{
        border:2px solid black;
        border-radius: 15px;
        padding:10px;
        background-color:orangered;
    }
    .transactions{
        border:2px solid blue;
        border-radius: 15px;
        height:50px;
        background-color: rgb(255, 225, 0);
        color: green;
        display:flex;
        justify-content:space-between;
        padding:10px;
        margin: 5px;
    }
    .transactions:hover{
        background-color: orange;
        transform:scale(1.01);
        box-shadow: 0 4px 8px midnightblue;
    }
    .transactions h3{
        text-align: left;
        font-weight: 10px;
        padding:10px;
        align-items: center;
        margin-top: 5px;
    }
    .transactions p{
        font-size: 15px;
        font-weight: bold;
        padding:10px;
        margin-top: 4px;
    }
    .transactions tt{
        font-family: 'Times New Roman', Times, serif;
        font-size: 10px;
        padding:10px;
        margin-left: 5px;
    }

